.coefficient {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 112;
    font-family: RobotoMono;
    font-size: 32px;
    font-size: 48px;
    font-weight: 700;
    color: #944ef5;
}