.game {
    &__container {
        background-repeat: no-repeat;
        bottom: 12px;
        height: 100%;
        left: 29px;
        position: relative;
        -webkit-transform: scaleX(1.1);
        transform: scaleX(1.1);
        width: 500px;
    }

    &__jetpack {
        bottom: 0;
        height: 124px;
        left: 0;
        position: absolute;
        z-index: 10
    }

    &__exhaust-container {
        bottom: -65px;
        height: 124px;
        left: -80px;
        position: absolute;
        width: 87px
    }

    &__exhaust {
        height: 75px;
        position: absolute
    }

    &__graph {
        bottom: 0;
        height: 10px;
        left: 0;
        object-fit: contain;
        position: absolute;
        transform-origin: left bottom
    }
}
